In [1]:
import pandas as pd

In [5]:
#df = pd.read_csv('', sep = ',')
df = pd.read_csv('data/electricite/donnees_elec_adresse_2018.csv', sep = ';', encoding='latin-1')

value = df.iloc[0,:]
print(value[4])
print(len(df))

659 AVENUE LEON BLUM
558959

In [6]:
df

,OPERATEUR,ANNEE,FILIERE,CODE_IRIS,ADRESSE,NOM_COMMUNE,CODE_GRAND_SECTEUR,CONSO,PDL
0,Enedis,2018,E,010040101,659 AVENUE LEON BLUM,AMBÃRIEU-EN-BUGEY,I,"852,40377",1
1,Enedis,2018,E,010040101,645 AVENUE LEON BLUM,AMBÃRIEU-EN-BUGEY,I,"61,78001",1
2,Enedis,2018,E,010040101,268 RUE DES MOUETTES,AMBÃRIEU-EN-BUGEY,I,"63,2543",1
3,Enedis,2018,E,010040101,72 AVENUE DE LA LIBERATION,AMBÃRIEU-EN-BUGEY,I,"929,53233",1
4,Enedis,2018,E,010040101,82 RUE DES MOUETTES,AMBÃRIEU-EN-BUGEY,R,"40,67797",22
...,...,...,...,...,...,...,...,...,...
558954,Enedis,2018,E,956800114,7 ALLEE DE DERRIERE LES MURS,VILLIERS-LE-BEL,R,"109,32176",50
558955,Enedis,2018,E,956800114,4 PLACE DES 9 ARPENTS,VILLIERS-LE-BEL,R,"61,03606",19
558956,Enedis,2018,E,956820000,15 RUE GEORGES POMPIDOU,VILLIERS-LE-SEC,R,"116,61387",11
558957,Enedis,2018,E,956820000,8 RUE GEORGES POMPIDOU,VILLIERS-LE-SEC,T,"23,16017",1
558958,Enedis,2018,E,FRANCE,102 AVENUE GASTON ROUSSEL,NaN,T,"5741,327",1